<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Motion Note</title>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        function corsRequest() {
            console.log("ajax request");
            $.ajax({
                url: "http://localhost:8087/user/list",
                success: function (data) {
                    console.log(data);
                    $("#res").html(data.toString());
                }
            });
        }
        
        function deleteUser() {
            var name = $("#name").val();
            var url = "http://localhost:8087/user/delete/" + name;
            $.ajax({
                url:url,
                success: function (data) {
                    console.log(data);
                }
            });
        }
        
        function testStudent() {
            var sname = $("#sname").val();
            var tname = $("#tname").val();
            var age = $("#age").val();
            var url = "http://localhost:8087/user/info";
            $.ajax({
                url:url,
                data:{
                    "teacher.name":sname,
                    "student.name":tname,
                    "student.age":age
                },
                success: function (data) {
                    console.log(data);
                    alert(data);
                }
            });
        }
        
        function testUser() {
            var name = $("#u_user").val();
            var age = $("#u_age").val();
            var str = "{\'name\':"+name+",\'age\':"+age+"}";
            var url = "http://localhost:8087/user/info1";
            $.ajax({
                url:url,
                data:{
                    desString:str
                },
                success:function (data) {
                    alert(data);
                    console.log(data);
                }
            });

        }
    </script>
</head>
<body>

<div class="container">
    <div><span><label>[[${user.username}]] :Welcome to mood note blog...</label></span></div>
    <div>
        <button id="cors" type="button" onclick="corsRequest()">跨域请求</button>
        <span><label id="res"></label></span>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <table class="table">
        <tr>
            <td><input type="text" id="name" name="name"/></td>
            <td>
                <button type="button" class="btn" id="delete" onclick="deleteUser()">删除</button>
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <td><input type="text" id="sname" name="name"/></td>
            <td><input type="text" id="tname" name="name"/></td>
            <td><input type="text" id="age" name="name"/></td>
            <td>
                <button type="button" class="btn" id="test" onclick="testStudent()">提交</button>
            </td>
        </tr>
    </table>
    <hr/>
    <table class="table">
        <tr>
            <td><input type="text" id="u_name" name="name"/></td>
            <td><input type="text" id="u_age" name="name"/></td>
            <td>
                <button type="button" class="btn" id="t_user" onclick="testUser()">提交</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
